@font-face {
    font-family: dragonFont;
    src: url(https://trithedragon.github.io/dragonmaker/fonts/Encyclopedia-Regular.ttf);
  }

.dragonWrapper {
    position: absolute;
    text-align: center;
}

.base{
    display: none
}

.dragon {
    position: relative;
    top: 0px;
    left: 0px;
    --zRot: 0deg;
    --yRot: 0deg;
    transform: rotateY(var(--yRot)) rotateZ(var(--zRot))
}

.dragonName {
    position: relative;
    top: -130px;
    text-align: center;
}

.dragon.animateUp {
    --zRot: 10deg;
}

.dragon.animateDown {
    --zRot: -10deg;
}

.dragon.flipped {
    --yRot: 180deg;
}

body {
    overflow: hidden; /* Hide scrollbars */
  }

p {
    font-family: dragonFont;
    font-size: 20px;
    margin-top: 0px;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    user-select: none;
}

h1{
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
    text-align: center;
    font-family: dragonFont;
    font-weight: 100;
    color: rgb(255, 114, 151);
    font-size: 72px;
    user-select: none;
}