@font-face {
    font-family: dragonFont;
    src: url(https://trithedragon.github.io/dragonmaker/Dragon-Regular.ttf);
  }

.dragonWrapper {
    position: absolute;
    text-align: center;
}

.base{
    display: none
}

.dragon {
    position: relative;
    top: 0px;
    left: 0px
}

.dragonName {
    position: absolute;
    top: -25px;
    text-align: center;
}

.animateUp {
    transform: rotateZ(10deg)
}

.animateDown {
    transform: rotateZ(-10deg)
}

 .flipped.animateUp{
    transform: rotateY(180deg) rotateZ(-10deg)
}

.flipped.animateDown{
    transform: rotateY(180deg) rotateZ(10deg)
}

body {
    overflow: hidden; /* Hide scrollbars */
  }

p {
    font-family: dragonFont;
    font-size: 24px;
    margin-top: 0px;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    user-select: none;
}

h1{
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
    text-align: center;
    font-family: dragonFont;
    font-weight: 100;
    color: rgb(255, 114, 151);
    font-size: 72px;
    user-select: none;
}