@font-face {
    font-family: dragonFont;
    src: url(https://trithedragon.github.io/dragonmaker/Dragon-Regular.ttf);
  }

.dragonWrapper {
    position: absolute;
    text-align: center;
}

.dragon {
    position: relative;
    top: 0px;
    left: 0px
}

.dragonName {
    position: absolute;
    top: -50px;
    left: -5px;
    width: 100%;
    text-align: center;
}

.flipped {
    transform: rotateY(180deg)
}

body {
    overflow: hidden; /* Hide scrollbars */
  }

p {
    font-family: dragonFont;
    font-size: 28px;
    margin-top: 0px;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}