.form{
    width: 200px;
    float: left;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px
}

select {
    margin-bottom: 10px
}

a {
    font-size: 32px;
}

